 ul{
    list-style-type:none;
  }

 .test{
    height:40px;
    width:200px;
    margin-bottom: 8px;
  }

  table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #171E86;
  color: white;
}
